.mint-indexsection-index {
    // display: none
}
.mint-cell-value {
    margin-right: 600px;
    text-align: left
}
// .mint-indexlist-navlist {
//     margin-top: -280px
// }
// .mint-indexlist {
//     height: 1300px;
// }
.mint-indexlist {
    overflow: visible
}