// 选择时间
.shade{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:300;
    background:rgba(0,0,0,0.6);
    filter:Alpha(opcity=60);
    overflow: auto;
}
.time{
    display: none;
    width: 100%;
    margin-top:30px;
    height: 430px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:400;
    background: #fff;
    .top{
        line-height: 67px;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 34px;
        font-size: 28px;
        span:nth-child(1){color: #666;}
        span:nth-child(2){color: #ff2a00;}
    }
}